:root {
  --primary-color: #ff00a4;
  --secondary-color: #22a958;
  --secondary-light-color: rgba(63, 126, 0, 0.08);
  --text-color: #404040;
  --white: #fff;
  --grey: #a3a3a3;
  --bg-white-color: #f8f9fb;
  --radius-sm: 0.6rem;
  --radius-md: 0.8rem;
  --radius-lg: 1.2rem;
  --box-shadow-a: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-b: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  --text-sm: 1.2rem;
  --text-md: 1.4rem;
  --text-normal: 1.6rem;
  --text-lg: 1.8rem;
}
